    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .wrapper {
        padding: 1%;
        width: 80%;
        margin: auto;
        text-align: left;
    }
    
    .tbl-full {
        width: 100%;
    }
    
    .success {
        color: green;
    }
    
    .error {
        color: red;
    }
    
    .tbl-30 {
        width: 30%;
    }
    
    table tr th {
        border-bottom: 1px solid black;
        padding: 1%;
        text-align: left;
    }
    
    table tr td {
        padding: 1%;
    }
    
    .btn-primary {
        background-color: rgb(21, 155, 179);
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    .btn-primary:hover {
        background-color: blue;
    }
    
    .btn-secondary {
        background-color: rgb(15, 201, 31);
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    .btn-secondary:hover {
        background-color: rgb(25, 0, 255);
    }
    
    .btn-danger:hover {
        background-color: rgb(25, 0, 255);
    }
    
    .btn-danger {
        background-color: rgb(218, 12, 12);
        padding: 1%;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    
    .text-centre {
        text-align: center;
    }
    
    .clearfix {
        float: none;
        clear: both;
    }
    
    .vaccine-list {
        border-bottom: 1px solid rgb(0, 0, 0);
        background: rgb(202, 236, 236);
    }
    
    .vaccine-list ul {
        list-style-type: none;
    }
    
    .vaccine-list ul li {
        display: inline;
        padding: 1%;
    }
    
    .vaccine-list ul li a {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    
    .vaccine-list ul li A:hover {
        color: crimson;
    }
    
    .main-content {
        background-color: rgb(199, 240, 241);
        padding: 3% 0;
        text-align: left;
    }
    
    .footer {
        background: rgb(182, 18, 18);
    }
    
    .col-4 {
        width: 18%;
        background-color: white;
        margin: 1%;
        padding: 2%;
        float: left;
    }
    /*css for login*/