 * {
     margin: 0;
     padding: 0;
     background-image: url("../images/b.jpg");
 }
 
 .login {
     border: 1px solid rgb(133, 51, 51);
     width: 35%;
     margin: 10% auto;
     padding: 2%;
     background: rgb(138, 177, 221);
     font-size: large;
     height: auto;
 }
 
 .log {
     background: rgb(138, 177, 221);
     text-align: center;
     font-size: 30px;
 }
 
 .text-centre {
     text-align: center;
 }
 
 .btn-primary {
     background-color: rgb(21, 179, 74);
     padding: 1%;
     color: white;
     text-decoration: none;
     font-weight: bold;
 }