        /* CSS for All */
        
        * {
            margin: 0 0;
            padding: 1 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .container {
            width: 80%;
            margin: 0 auto;
        }
        
        .p1 {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .img-responsive {
            width: 100%;
        }
        
        .img-curve {
            border-radius: 15px;
        }
        
        .text-right {
            text-align: right;
        }
        
        .text-center {
            text-align: center;
        }
        
        .text-left {
            text-align: left;
        }
        
        .text-white {
            color: white;
        }
        
        .clearfix {
            clear: both;
            float: none;
        }
        
        a {
            color: #ff6b81;
            text-decoration: none;
        }
        
        a:hover {
            color: #ff4757;
        }
        
        .btn {
            padding: 1%;
            border: none;
            font-size: 1rem;
            border-radius: 5px;
        }
        
        .btn-primary {
            background-color: #ff6b81;
            color: white;
            cursor: pointer;
        }
        
        .btn-primary:hover {
            color: white;
            background-color: #ff4757;
        }
        
        h2 {
            color: #194094;
            font-size: 2rem;
            margin-bottom: 2%;
        }
        
        h3 {
            font-size: 1.5rem;
            color: black;
        }
        
        .float-container {
            position: relative;
        }
        
        .float-text {
            position: absolute;
            bottom: 50px;
            left: 40%;
        }
        
        fieldset {
            border: 1px solid white;
            margin: 5%;
            padding: 3%;
            border-radius: 5px;
        }
        /* CSSS for navbar section */
        
        .logo {
            width: 10%;
            float: left;
        }
        
        .pages {
            line-height: 60px;
        }
        
        .pages ul {
            list-style-type: none;
        }
        
        .pages ul li {
            display: inline;
            padding: 2%;
            font-weight: bold;
        }
        /* CSS for vaccine SEarch Section */
        
        .vaccine-search {
            background-color: rgb(59, 142, 190);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 5% 0;
        }
        
        .vaccine-search input[type="search"] {
            width: 50%;
            padding: 1%;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
        }
        /* CSS for Categories */
        
        .categories {
            padding: 0% 0;
        }
        
        .box-3 {
            width: 28%;
            float: left;
            margin: 2%;
        }
        /* CSS for vaccine available */
        
        .list {
            background-color: #dbb6d6;
            padding: 4% 0;
        }
        
        .list-box {
            width: 43%;
            margin: 1%;
            padding: 2%;
            float: left;
            background-color: rgb(59, 142, 190);
            border-radius: 15px;
        }
        
        .list-img {
            width: 20%;
            float: left;
        }
        
        .description {
            width: 70%;
            float: left;
            margin-left: 8%;
        }
        
        .error {
            padding: 2%;
            color: red;
        }
        
        .success {
            padding: 2%;
            color: green;
        }
        
        .price {
            font-size: 1.2rem;
            margin: 2% 0;
        }
        
        .detail {
            font-size: 1rem;
            color: white;
        }
        /* CSS for Social */
        
        .social ul {
            list-style-type: none;
        }
        
        .social ul li {
            display: inline;
            padding: 1%;
        }
        /* for Order Section */
        
        .order {
            width: 50%;
            margin: 0 auto;
        }
        
        .input-responsive {
            width: 96%;
            padding: 1%;
            margin-bottom: 3%;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }
        
        .order-label {
            margin-bottom: 1%;
            font-weight: bold;
        }
        /* CSS for Mobile Size or Smaller Screen */
        
        @media only screen and (max-width:768px) {
            .logo {
                width: 80%;
                float: none;
                margin: 1% auto;
            }
            .pages ul {
                text-align: center;
            }
            .vaccine-search input[type="search"] {
                width: 90%;
                padding: 2%;
                margin-bottom: 3%;
            }
            .btn {
                width: 91%;
                padding: 2%;
            }
            .vaccine-search {
                padding: 10% 0;
            }
            .categories {
                padding: 20% 0;
            }
            h2 {
                margin-bottom: 10%;
            }
            .box-3 {
                width: 100%;
                margin: 4% auto;
            }
            .list {
                padding: 20% 0;
            }
            .list-box {
                width: 90%;
                padding: 5%;
                margin-bottom: 5%;
            }
            .social {
                padding: 5% 0;
            }
            .order {
                width: 100%;
            }
        }
        
        .text-centre {
            text-align: center;
        }
        
        .map {
            height: 700px;
            width: 80%;
        }